@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;800;900&family=Roboto:wght@400;500;700;900&display=swap');

*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

:root{
    --primary-color: #CF5C00;
}

body{
    font-family: 'Roboto', sans-serif;
}

ul{
    list-style: none;
}

h1, h2 {
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 5rem;
}
h2{
    font-size: 3rem;
}
h3{
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--primary-color);
    margin: .5rem 0;
}

.btn{
    padding: .7rem 1.5rem;
    color: #000;
    background: transparent;
    border: 1px solid #000;
    border-radius: 25px;
    font-size: 1.4rem;
}

.btn-dark{
    background-color: #000;
    color: var(--primary-color);
}
.btn:hover{
    color: var(--primary-color);
    cursor: pointer;
}

@media(max-width: 768px) {
    h1{
        font-size: 3rem;
    }
    h2{
        font-size: 2rem;
    }
}